body {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0;
}

.header-container-parent {
    display: flex;


}
.header-container {
    display: flex;
    justify-content: space-between;
    alignment: center;
    width: 900px;
    height: 200px;
}

.header-logo-container {
    width: 200px;
    height: 200px;

    background: #56D589;
    border: 1px solid #34A47B;
    box-sizing: border-box;
    box-shadow: -1px 4px 9px 1px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
}

.header-text-container {

    /* MonManApp - это приложение, созданное для ведения семейного бюджета.
    Используя его, вы сможете фиксировать свои покупки, классифицируя их.
    Также вы сможете рассматривать статистику покупок за любой временной промежуток. */

    display: flex;
    align-items: center;
    width: 630px;
    height: 200px;
}

.header-text {
    font-family: Roboto, serif;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.8);
}

.start-button-container {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-button {
    width: 250px;
    height: 100px;

    background: #a5a4a4;
    border: 1px solid #4b4a4a;
    box-sizing: border-box;
    box-shadow: -1px 4px 9px 1px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
}